<% include ../partials/header %>


</nav>
<div class="container">
  
  <header class="jumbotron" style=" position: relative; background-color: transparent;">
    <div class="container" style="z-index: 100;">
          <h1>Welcome to YelpCamp!</h1>
      <p>View our hand-picked backgrounds from all over the world</p>
      <p>
        <a class="btn btn-primary  btn-large" href="/campground/new" >Add New CampGround</a>
      </p>
      </div>
      <div class="bg-video">
      <video  class="bg-video__content" autoplay muted loop>
        <source src="../Videos/video.mp4" type="video/mp4">
        <source src="../Videos/video.webm" type="video/webm">
          not supported
      </video>
    </div>
  
  </header>
  <div class="row text-center " style="display: flex; flex-wrap: wrap;">
      <% campgrounds.forEach(function(campground){ %>
        <div class=" col-lg-3 col-md-3 col-sm-6 ">
          <div class="img-thumbnail" >
              <img class="img-fluid" src="<%= campground.image%>" >
            <div class="caption">
                <h4><%=campground.name %></h4>

            </div>
            <p>
              <a href="/campground/<%= campground._id%>" class="btn btn-primary">More Info</a>
            </p>
             
          </div>
         
        </div>
         <% }); %>
  </div>
  

</div>

<% include ../partials/footer %>