.img-thumbnail img{
    width: 100%;
}
.img-thumbnail{
    padding: 0%;
}
.caption-full {
    padding: 9px;
}
#delete-form{
    display: inline;
}
#delete-comment{
    display: inline;
}
.btn-group-xs > .btn, .btn-xs {
    padding: .35rem .4rem;
    font-size: .800rem;
    line-height: .5;
    border-radius: .2rem;
  }
.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index:-10;
    
    opacity: .20;
    overflow: hidden;

    
}
.bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
}